* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    color: black;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    @media (width < 768px) {
        margin: 20px 0;
    }
}

.wrapper {
    width: 90%;
    margin: 0px auto;

    @media (width > 768px) {
        max-width: 1000px;
    }
}

body {
    color: #1B281B;
    font-size: 1.25rem;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (width < 768px) {
        padding: 0 0 20px 0;
    }
}

.primary-navigation ul {
    list-style-type: none;
    display: none;

    @media (width > 768px) {
        display: flex;
    }
}

.primary-navigation a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.primary-navigation a:hover {
    color: #4676A9;
}

nav ul li {
    padding: 0 20px;
}

h1 {
    color: #4676A9;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    line-height: 1.1;

    @media (width > 768px) {
        font-size: 7.5rem;
    }
}

h2 {
    color: #cb721c;
    font-size: 26px;

    @media (width > 768px) {
        font-size: 2rem;
    }
}

footer {

    text-align: center;

}

.teal-bg {
    background-color: #22466c;
    color: white;
    padding: 20px;
    margin: 20px 0 0 0;
    border: 10px solid #0b4a5a;
}

.text {
    line-height: 1.8;

    @media (width > 768px) {
        padding: 0 50px 0 0;
    }


}

.text-two {
    line-height: 1.8;

    @media (width > 768px) {
        padding: 0 0 0 50px;
    }


}

.text h2 {
    margin: 0 0 50px 0;

    @media (width < 600px) {
        margin: 0 0 10px 0;

    }

}

.teal-text {
    color: #0b4a5a;
}

.climbing-bg {
    background-image: url(/images/simple-steps.jpg);
    width: 50%;
    color: white;
    border: 10px solid #0b4a5a;
    padding: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: green;
}

.two-column-layout {
    display: flex;
    width: 100%;
    margin: 30px auto;



    @media (width < 600px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

    }
}