* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    color: #4676A9;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    max-width: 550px;
}

h2 {
    color: #cb721c;
}


footer {
    background-color: #22466c;
    color: white;
}